@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-video {
    position: relative;
    overflow: hidden;
  }
  
  .hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  